body {
    background-color: lightgrey;    
}

/* ~~~~~~~~~~~~~    PRODUCT PAGE     ~~~~~~~~~~~~~~*/
.productCon{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: 0 auto;
}
/* ~~~~~~~~~~~~~    PRODUCT PAGE     ~~~~~~~~~~~~~~*/


#mapAndContactContainer {
    border: 2px red solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

